# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build files
dist/

# Optional: Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional: Ignore OS-specific files
.DS_Store
Thumbs.db